h1{
    color: #560bad;
}
/*Separando por comas se pueden agrupar elementos para darle el mismo estilo*/
a:link, a:visited{
    background-color: #b5179e;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

a:hover, a:active{
    background-color: #f72585;
}